<h1>New Post</h1>

<%= form_with :model => @post do |form| %>
  <%= form.hidden_field "place_id" %>
  <p>
    <%= form.label "title" %>
    <%= form.text_field "title" %>
  </p>
  <p>
    <%= form.label "description" %>
    <%= form.text_field "description" %>
  </p>
  <p>
    <%= form.label "posted_on" %>
    <%= form.date_field "posted_on" %>
  </p>
  <%=  form.label "uploaded_image", :class => "form-label" %>
  <%= form.date_field "uploaded_image", :class => "form-control"%>
  <p>

  </p>
  <p>
    <%= form.submit "Submit Post", class: "btn btn-sucess" %>
  </p>
<% end %>
